boto3==1.36.3
botocore==1.36.3
faiss-cpu==1.10.0
flashrank==0.2.10
ipykernel==6.29.5
langchain==0.3.19
langchain-aws==0.2.10
langchain-experimental==0.3.4
pytest==8.0.1
wikipedia==1.4.0
pypdf==6.9.2
PyMuPDF==1.25.5
PyPDF2==3.0.1
ddgs
xmltodict==0.14.2
unstructured==0.17.0
numexpr==2.10.2
pypdfium2